<dom-module id="new-employee-form">
    <template>
        <style is="custom-style">

        </style>
        <iron-form>
            <form method="get" id="form" action="/Employee/addNewEmployee" method="post">
                <label>Enter your name</label>
                <paper-input name="name"></paper-input>
                <label>Describe your position</label>
                <paper-textarea name="position"></paper-textarea>
                <label>Select one of:</label>
                <select name="disposition" style="width:100%;" value="1">
                    <option value="1">Temporary</option>
                    <option value="2">Permanent</option>
                    <option value="3">Contractor</option>
                </select>
            </form>
        </iron-form>
        <paper-button on-tap="onSubmit">Submit</paper-button>
        <iron-ajax id="ajaxPost"
                   url="https://localhost:44346/employee/addNewEmployee"
                   body='{{body}}'
                   handle-as="json"
                   method="POST"
                   content-type="application/x-www-form-urlencoded"></iron-ajax>
    </template>
    <script>
        Polymer({
            is: "new-employee-form",
            properties: {
                body: {
                    type: Object,
                    notify: true
                }
            },
            onSubmit() {
                var self = this;
                var data = {
                    Name: this.$.form.name.value,
                    Position: this.$.form.position.value,
                    Disposition: this.$.form.disposition.value
                };
                self.body = data;
                self.$.ajaxPost.generateRequest();
            }
        });
    </script>
</dom-module>
